@use "../../styles/partials/global" as *;

.new-comments {
	margin-bottom: 1rem;
	display: flex;
	gap: 1rem;

	@include tablet {
		margin-bottom: 1.5rem;
	}

	.user-image-container {
		@include tablet {
			display: flex;
			align-items: flex-end;
		}

		img {
			margin-top: 1rem;

			@include tablet {
				width: 2.5rem;
				height: 2.5rem;
			}
		}
	}

	.form-wrapper {
		flex-grow: 1;

		@include tablet {
			display: flex;
			flex-wrap: wrap;
		}

		h2 {
			color: $PrimaryGreySilver;
			font-weight: 600;
			margin: 0;

			@include tablet {
				width: 100%;
			}
		}

		form {
			margin: 0;

			textarea {
				box-sizing: border-box;
				width: 100%;
				font-family: "AvenirNext";
				min-height: 5rem;
				background-color: $SecondaryWhiteAlabaster;
				border-color: $SecondaryGreyMercury;
				border-radius: 4px;
				padding: 0.5rem 0 0 0.5rem;

				@include tablet {
					min-height: 1rem;
					max-height: 2.5rem;
					padding: 0.75rem 0 0 0.5rem;
				}

				&:focus {
					border: 2px solid $BrainFlixBlue;
					outline: none;
				}

				&:focus-visible {
					border: 2px solid $BrainFlixBlue;
				}

				&::placeholder {
					color: $BrainFlixBlack;
				}
			}

			button {
				@include blue-button;
				border: none;
				padding: 0.5rem 0.75rem 0.25rem 0.75rem;
				width: 100%;

				@include tablet {
					margin: 0 0 0 1.5rem;
					width: 35%;
					max-width: 170px;
				}

				img {
					width: 1.25rem;
					padding-top: 0.25rem;
				}

				p {
					margin: 0;
					flex-grow: 1;
					font-family: "AvenirNext";
					width: 80%;
					text-align: center;
					font-weight: 600;
					line-height: 1.75rem;
				}
			}
		}
	}
}
