@use "./variables" as *;

@mixin tablet {
	@media (min-width: $tablet-breakpoint) {
		@content;
	}
}

@mixin desktop {
	@media (min-width: $desktop-breakpoint) {
		@content;
	}
}

@mixin flex-center-horizontal {
	display: flex;
	justify-content: center;
}

@mixin flex-center-both {
	display: flex;
	justify-content: center;
	align-items: center;
}

@mixin user-image {
	width: 2.25rem;
	height: 2.25rem;
	border-radius: 50%;
	object-fit: cover;
	object-position: 5%;
	margin-top: 1rem;
}
