$BrainFlixBlack: #323232;
$BrainFlixBlue: #0095ff;
$PrimaryGreySilver: #afafaf;
$PrimaryWhite: #fff;
$BrainFlixDarkBlack: #000;
$BrainFlixDarkBlue: #0065ad;
$SecondaryGreyMercury: #e1e1e1;
$SecondaryWhiteAlabaster: #fafafa;

$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;
