@use "../../styles/partials/global" as *;

.comments-list {
	display: flex;
	flex-direction: column;
	border-bottom: 1px solid $SecondaryGreyMercury;

	@include desktop {
		border-bottom: none;
	}

	.comment {
		display: flex;
		gap: 1rem;
		border-top: 1px solid $SecondaryGreyMercury;

		@include tablet {
			gap: 1.5rem;
		}

		@include desktop {
			padding-right: 1.5rem;
			gap: 2rem;
		}

		&__image {
			background-color: $SecondaryGreyMercury;
			border-radius: 50%;
			width: 2.25rem;
			height: 2.25rem;
			margin-top: 1rem;

			@include tablet {
				width: 2.5rem;
				height: 2.5rem;
				margin-top: 1.5rem;

				@include desktop {
					margin-top: 1.25rem;
				}
			}
		}

		&__info {
			display: flex;
			flex-wrap: wrap;
			flex-grow: 1;

			.comment__name {
				width: 50%;
				margin: 1rem 0 0 0;

				@include tablet {
					padding-top: 0.25rem;
				}
			}

			.comment__date {
				flex-grow: 1;
				text-align: right;
				color: $PrimaryGreySilver;

				@include tablet {
					padding-top: 0.25rem;
					margin-bottom: 0;
					width: 48%;
				}
			}

			.comment__comment {
				margin-top: 0;
				width: 90%;

				@include tablet {
					margin-bottom: 1.25rem;
				}
			}

			.delete-button__wrapper {
				align-self: flex-end;
				flex-grow: 1;
				text-align: right;
				cursor: pointer;

				&:active {
					opacity: 50%;
				}

				.delete-button {
					padding-bottom: 0.5rem;
				}
			}
		}
	}
}
