@use "../../styles/partials/global" as *;

.comments-list {
	display: flex;
	flex-direction: column;
	border-bottom: 1px solid $SecondaryGreyMercury;

	.comment {
		display: flex;
		gap: 1rem;
		border-top: 1px solid $SecondaryGreyMercury;

		@include desktop {
			padding-right: 1.5rem;
		}

		&__image {
			background-color: $SecondaryGreyMercury;
			border-radius: 50%;
			width: 2.25rem;
			height: 2.25rem;
			margin-top: 1rem;

			@include tablet {
				width: 2.5rem;
				height: 2.5rem;
			}
		}

		&__info {
			display: flex;
			flex-wrap: wrap;

			.comment__name {
				width: 50%;
				margin: 1rem 0 0 0;
			}

			.comment__date {
				flex-grow: 1;
				text-align: right;
				color: $PrimaryGreySilver;
			}

			.comment__comment {
				margin-top: 0;
			}
		}
	}
}
