@use "../../styles/partials/global" as *;

#selected-video {
	width: 100%;

	@include desktop {
		display: inline-flex;
		width: 57.35%;
		margin-left: 5.75rem;
	}
}

#video-details {
	width: 100%;

	@include desktop {
		border-right: 1px solid $SecondaryGreyMercury;
		flex-grow: 1;
	}
}
