@use "../../styles/partials/global" as *;

header {
	margin: 0.875rem;

	@include tablet {
		margin: 1rem 2rem 1rem 2rem;
	}

	@include desktop {
		margin: 1rem 8.75rem 1rem 7.875rem;
	}

	nav {
		@include tablet {
			display: flex;
			align-items: center;
		}

		.header__image__wrapper {
			text-align: center;
			margin-bottom: 0.875rem;

			@include tablet {
				width: 31%;
				text-align: left;
				margin: 0 0 0 0.25rem;
			}

			@include desktop {
				width: 51%;
				padding-top: 0.5rem;
			}
		}
		.search-bar__wrapper {
			display: flex;
			flex-wrap: wrap;

			@include tablet {
				flex-wrap: nowrap;
				flex-grow: 1;
				align-items: center;
				gap: 1.5rem;
			}

			@include desktop {
				// gap: 0;
			}

			.user-image {
				@include tablet {
					order: 3;
					width: 2.5rem;
					height: 2.5rem;
				}
			}

			.upload-button {
				@include blue-button;
				min-width: 90%;
				flex-grow: 2;
				margin-top: 1rem;

				@include tablet {
					min-width: min-content;
					max-width: 9.375rem;
					padding: 0;
					margin: 0;
				}

				@include desktop {
					margin-right: 0.875rem;
				}

				img {
					padding-left: 0.625rem;
					width: 1.25rem;

					@include desktop {
						padding-left: 0.5rem;
					}
				}

				p {
					margin: 0;
					flex-grow: 1;
					padding: 0.875rem 1.54rem 0.625rem 0;
					width: 80%;
					text-align: center;
					font-size: 0.6875rem;
					font-weight: 600;
					line-height: 1.25rem;

					@include desktop {
						text-align: left;
						padding-left: 1.25rem;
						font-size: 0.75rem;
					}
				}
			}
		}
	}
}
