@use "../../styles/partials/variables" as *;
@use "../../styles/partials/fonts" as *;

form {
	display: inline-block;
	margin-right: 1rem;
	width: 82%;

	.search-field {
		display: flex;

		border: 1px solid $SecondaryGreyMercury;
		border-radius: 4px;
		background-color: $SecondaryWhiteAlabaster;

		img {
			padding-left: 0.5rem;
		}

		input {
			padding: 0.625rem;
			border: none;
			background-color: $SecondaryWhiteAlabaster;
			color: $BrainFlixBlack;
			font-family: "AvenirNext", Verdana, Geneva, Tahoma, sans-serif;
		}
	}
}
