@use "../../styles/partials/global" as *;

form {
	margin-right: 1rem;
	flex-grow: 1;

	.search-field {
		display: flex;
		border: 1px solid $SecondaryGreyMercury;
		border-radius: 4px;
		background-color: $SecondaryWhiteAlabaster;

		img {
			padding-left: 0.5rem;
		}

		input {
			flex-grow: 1;
			padding: 0.625rem;
			border: none;
			background-color: $SecondaryWhiteAlabaster;
			color: $BrainFlixBlack;
			font-family: "AvenirNext", Verdana, Geneva, Tahoma, sans-serif;

			&:focus {
				outline: none;
			}
		}
	}
}
