@use "../../styles/partials/global" as *;

form {
	margin-right: 1rem;
	flex-grow: 1;

	@include tablet {
		width: 41%;
		display: flex;
		margin: 0;
	}

	.search-field {
		display: flex;
		border: 1px solid $SecondaryGreyMercury;
		border-radius: 4px;
		background-color: $SecondaryWhiteAlabaster;

		@include tablet {
			width: 100%;
		}

		img {
			padding-left: 0.5rem;
		}

		.input {
			padding: 0.625rem;
			border: none;
			background-color: $SecondaryWhiteAlabaster;
			color: $BrainFlixBlack;
			font-family: "AvenirNext", Verdana, Geneva, Tahoma, sans-serif;

			@include tablet {
				min-height: 1.25rem;
				flex-grow: 1;
			}

			&:focus {
				outline: none;
			}
		}
	}
}
