@use "../../styles/partials/global" as *;

.video-container {
	background-color: black;

	@include tablet {
		@include flex-center-horizontal;
	}

	video {
		width: 100%;
		height: 100%;

		@include tablet {
			width: 90vw;
		}

		@include desktop {
			width: 66vw;
		}
	}
}
