@use "../../styles/partials/global" as *;

.upload {
	border-top: 1px solid $SecondaryGreyMercury;
	padding: 0 1rem;

	@include desktop {
		padding: 0 7rem;
	}

	h1 {
		margin-top: 1.5rem;

		@include tablet {
			margin: 2rem 1rem 1.5rem 1rem;
			padding-bottom: 1.5rem;
			border-bottom: 1px solid $SecondaryGreyMercury;
		}
	}

	&__thumbnail {
		margin-bottom: 1rem;

		@include tablet {
			margin: 0 1rem 1rem 1rem;
		}

		@include desktop {
			margin-right: 0;
		}

		&__label {
			color: $PrimaryGreySilver;
			font-weight: 600;
			margin: 1.5rem 0 0.25rem 0;

			@include desktop {
				margin-top: 0.75rem;
			}
		}

		&__image {
			width: 90vw;

			@include tablet {
				width: 50vw;
			}

			@include desktop {
				width: 20.3rem;
				border-bottom: 1px solid $SecondaryGreyMercury;
				padding: 0 1.5rem 1.5rem 0;
			}
		}
	}

	&__form {
		margin: 0;

		@include tablet {
			margin: 1rem;
			display: block;
		}

		@include desktop {
			margin-left: 0;
		}

		label {
			color: $PrimaryGreySilver;
			font-weight: 600;
			display: block;
			margin-top: 1rem;
		}

		&__title,
		&__description {
			@include form-inputs;
			padding: 0.75rem 0 0 0.75rem;
			width: 98%;
		}

		&__description {
			min-height: 4.25rem;

			@include tablet {
				margin-bottom: 1rem;
			}
		}
	}

	&__buttons {
		display: flex;
		flex-direction: column;

		@include tablet {
			border-top: 1px solid $SecondaryGreyMercury;
			flex-direction: row;
			justify-content: flex-end;
			align-items: center;
			gap: 5rem;
			padding-top: 2rem;
		}

		.cancel {
			color: $BrainFlixBlue;
			font-weight: 600;
			text-align: center;
			margin-top: 2.5rem;
			order: 2;

			@include tablet {
				order: 1;
				margin: 0;
				font-size: 0.75rem;
			}
		}

		button {
			@include blue-button;
			padding: 0.5rem;
			order: 1;
			margin-top: 1rem;

			@include tablet {
				width: 22%;
				margin: 0;
				font-size: 0.75rem;
			}

			img {
				width: 1.25rem;
				padding-top: 0.15rem;
			}

			p {
				margin: 0;
				text-align: center;
				font-family: "AvenirNext", Verdana, Geneva, Tahoma, sans-serif;
				flex-grow: 1;
				padding: 0.25rem 1.25rem 0.25rem 0;
				font-weight: 600;
				line-height: 1.25rem;

				@include tablet {
					padding: 0.25rem 1.25rem 0 0;
				}
			}
		}
	}
}

.upload__container {
	@include desktop {
		display: flex;
	}
}

.upload__details {
	@include desktop {
		flex-grow: 1;
		margin-left: 0;
	}
}
